
*.dll
*.so
*.h
*.cl
*.rule
*.hcmask
*.hckmap
*.kernel
*.hctune
*.log
*.hcstat2
*.sh
*.hash
*.cmd
*.hcchr
*.pyc
*.dict
.DS_Store
wordlists/rockyouMD5.txt
jmetal/*
maskcat-env/*
hashcat/*